body {
    font-size: 15px;
}

.container {
	max-width: 900px;
}

img {
	max-width: 100%;
}

figure {
	border: 1px solid #D0D0D0;
    margin: 15px;
}

figure img {}

figcaption {
    background: #eee;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}